<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <% if title %>
      <title><%= title %></title>
    <% end %>

    <% if description %>
      <meta name="description" content="<%= description %>">
    <% end %>

    <% if canonical %>
      <link rel="canonical" href="<%= canonical %>">
    <% end %>

    <% if robots %>
      <% robots.each do |robot| %>
        <meta name="robots" content="<%= robot %>">
      <% end %>
    <% end %>
  </head>
  <body>
  </body>
</html>
